# SCADA Anomaly Detection

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.tsa.stattools as sts

import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_excel('data/8 Hrs 3 Proc Normal.xlsx', sheet_name = 'Sheet1')

In [3]:
data_with_attacks = pd.read_excel('data/8 Hrs 3 Proc Normal+Attack.xlsx', 
                                  sheet_name = 'Combined Data')

## Cleaning Data

In [4]:
data.columns = ['Timestamp', 'FIT101', 'LIT101', 'MV101', 'P101', 'P102', 'AIT201',
       'AIT202', 'AIT203', 'FIT201', 'MV201', 'P201', 'P202', 'P203', 'P204',
       'P205', 'P206', 'DPIT301', 'FIT301', 'LIT301', 'MV301', 'MV302',
       'MV303', 'MV304', 'P301', 'P302', 'Normal/Attack']

In [5]:
data_with_attacks.columns = ['Timestamp', 'FIT101', 'LIT101', ' MV101', 'P101', 'P102', ' AIT201',
       'AIT202', 'AIT203', 'FIT201', ' MV201', ' P201', ' P202', 'P203',
       ' P204', 'P205', 'P206', 'DPIT301', 'FIT301', 'LIT301', 'MV301',
       'MV302', ' MV303', 'MV304', 'P301', 'P302', 'Normal/Attack']

In [6]:
data['Timestamp'] = pd.to_datetime(data['Timestamp'])

In [7]:
data_with_attacks['Timestamp'] = pd.to_datetime(data_with_attacks['Timestamp'])

In [8]:
data.head(2)

,Timestamp,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,...,DPIT301,FIT301,LIT301,MV301,MV302,MV303,MV304,P301,P302,Normal/Attack
0,2015-12-22 16:00:00,2.470294,261.5804,2,2,1,244.3284,8.19008,306.101,2.471278,...,20.79839,2.235275,327.4401,1,2,1,1,2,1,Normal
1,2015-12-22 16:00:01,2.457163,261.1879,2,2,1,244.3284,8.19008,306.101,2.468587,...,20.79839,2.234507,327.4401,1,2,1,1,2,1,Normal

In [9]:
data_with_attacks.head(2)

,Timestamp,FIT101,LIT101,MV101,P101,P102,AIT201,AIT202,AIT203,FIT201,...,DPIT301,FIT301,LIT301,MV301,MV302,MV303,MV304,P301,P302,Normal/Attack
0,2015-12-28 10:00:00,2.427057,522.8467,2,2,1,262.0161,8.396437,328.6337,2.445391,...,19.74838,2.206835,956.1651,1,2,1,1,1,2,Normal
1,2015-12-28 10:00:01,2.446274,522.8860,2,2,1,262.0161,8.396437,328.6337,2.445391,...,19.74838,2.208244,956.1651,1,2,1,1,1,2,Normal

## Testing for Stationarity

In [10]:
l = []
alpha = 0.05

for i in range(1,data.shape[1]-1):
    test  = sts.adfuller(data.iloc[:,i].diff(1).dropna())    
    if(test[1] < alpha):
        is_stationary = True
    else:
        is_stationary = False
        
    row = {}
    row['colname'] = data.columns[i]
    row['is_stationary'] = is_stationary
    l.append(row)

In [11]:
stationarity_tests = pd.DataFrame(l)
stationarity_tests

    colname  is_stationary
0    FIT101           True
1    LIT101           True
2     MV101           True
3      P101           True
4      P102          False
5    AIT201           True
6    AIT202           True
7    AIT203           True
8    FIT201           True
9     MV201           True
10     P201          False
11     P202          False
12     P203           True
13     P204          False
14     P205           True
15     P206          False
16  DPIT301           True
17   FIT301           True
18   LIT301           True
19    MV301           True
20    MV302           True
21    MV303           True
22    MV304           True
23     P301           True
24     P302           True